.box {
    width: 1200px;
    height: 600px;
    border: 1px solid #ccc;
    margin: 10px auto;

    padding: 5px;


}
.inner{
    width: 1200px;
    height:600px;
    position: relative;
    overflow: hidden;
}
.inner img{
    width: 1200px;
    height: 600px;
    vertical-align: top
}
ul {
    width:2400%;
    position: absolute;
    list-style: none;
    left:0;
    top: 0;
}
.inner li{
    float: left;

}

ol {
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 20px;
    text-align: center;
    padding: 5px;
}
ol li{
    display: inline-block;
    width: 25%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0,0.4);
    margin: 5px 0;
    cursor: pointer;
    color:white;
    font-weight: lighter;

}
ol .current{
    background-color: rgba(255,255,255,.4);
}
#arr{
    display: none;
}
#arr span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '黑体';
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    border: 1px solid #fff;
}
#arr #right {
    right: 5px;
    left: auto;
}
.main{

    width: 80%;
    height: 800px;
    margin: 20px auto;
}
.main-top{
    width: 100%;
    height: 150px;

}
.main-top-p{
    width: 100%;
    height: 400px;
    background-image: url('../img/3.jpg');
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(0 0,100% 0,100% 37% , 0 100%);
}

.main-bottom{
    width: 100%;
    height: 450px;
    display: flex;


}
.grey{
    width: 100%;
    height: 100%;


}
.grey:hover{
    -webkit-animation: background 1s;
    -o-animation: background 1s;
    animation: background 1s;
    background-color: rgba(0,0,0,.5);
}
.main-row{
    display: inline-block;
    width: 25%;
    height:120%;

    position: relative;
    -webkit-background-size: 100% 100%;
    background-color: rgba(0,0,0,0.8);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(0  11.5%,100% 0,100% 89.5%,0 100%);
    border:none;

}

.p1{
    height: 119%;
    top: 215px;
    background-image: url('../img/timg (4).jpg');
    z-index: 4;
}
.p2{

    top: 153px;
    background-image: url('../img/12.jpg');
    z-index: 3;
}
.p3{
    height: 121%;
    top: 90px;
    background-image: url('../img/11.jpg');
    z-index: 2;}
.p4{
    z-index: 1;
    height: 122%;
    top: 26px;
    background-image: url('../img/9.jpg');}
@keyframes border {
    from{
        width:0;
    }
    to{width: 100%}
}
@keyframes background {
    from{
        background-color: transparent;
    }
    99%{
        border:none;
    }
    100%{
        background-color: rgba(0,0,0,.5);
    }
}
@keyframes right {
    from{
        border-right:none;
    }
    to{
        border-right:10px solid white;

    }
}

.main-row-word{
    display: inline-block;
    width: 80%;
    height:60px;
    color:white;
    position: relative;
    font-size: 2em;
    text-align: center;
    line-height: 60px;
    font-weight: lighter;
    top:225px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 5px;

}
.main-row-word:hover {
    animation: right 2s;
    border-right:10px solid white;
    padding-left: 10px;
}


.main-row-word.main-row-word:hover:after
{    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    left:0;
    bottom: 0;
    background-color: white;
    animation: border  .5s;
}
.main-row-word.main-row-word:hover:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    left:0;
    top: 0;
    background-color: white;
    animation: border .5s;
}
/*.main-row-word:hover{*/
/*    border-top:10px solid  white;*/
/*    border-right:10px solid  white;*/
/*    border-bottom:10px solid  white;*/
/*}*/

.word{
    color:white;
    font-size: 4em;
    font-weight: lighter;
    position: relative;
    left: 40%;
    top: 80px;
    margin-bottom: 30px;
}

.bw{
    top: 200px;
}
.bottom-p{
    width: 80%;
    height: 200px;
    margin: 0 auto;
}
.bottom-p-p{
    width: 100%;
    height: 400px;
    position:relative;
    top:-100px;
    background-image: url('../img/24.jpg');
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(0 57%,100% 0 ,100% 100%,0 100%);
}

.book{
    position:absolute;
    top: 1950Px;
    left:10%;
    width: 80%;
    margin-top: -50px;
    height: 400px;

}
.book-row{
    display: inline-block;
    width: 25%;
    height: 100%;
    line-height: 100%;

}
.book-row:hover{
    color:goldenrod;
}


.row{
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:25px auto;
    line-height: 80%;
    height: 80%;
    width: 80%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    border-radius: 5px;
    overflow: hidden;
    transition: all .3s ease 0s;
}
.row:hover{
    box-shadow: 0 1px 15px 0 rgba(0,0,0,.5);
    transform: translate3D(0,-5px,0);
    position: relative;
    z-index: 3;
}
.book-row-p{
    width: 60%;
    height: 65%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 10px 0 rgba(0,0,0,0.05),0 6px 10px 0 rgba(0,0,0,0.05),0 6px 10px 0 rgba(0,0,0,0.05);
}
.b1{
    background-image: url('../img/26.jpg');}
.b2{
    background-image: url('../img/25.jpg');
}
.b3{
    background-image: url('../img/28.jpg');
}
.b4{
    background-image: url('../img/27.jpg');
}
.book-row-title{
    margin-top: 16px;
    color:#3e3d43;
    font-size: 1.5em;
}


.book-row-author{
    color:#a9a6a5;
    margin-top: 20px;
}
.bottom{
    width: 100%;
    position: relative;

    z-index:1;
}
.bottom-back{
    position: absolute;
    top:2300px;
    z-index:-1;
}